<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h4 class="mb-3">Změna hesla</h4>

        <form method="post" id="passwordForm" oninput="x.value=(password.value==password2.value)?'Shodná hesla':'Neshodná hesla'">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="password" class="form-label">Nové heslo</label>
                    <input type="password" name="password" id="password"
                           class="form-control" required>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="password2" class="form-label">Potvrzení hesla</label>
                    <input type="password" name="password2" id="password2"
                           class="form-control" required>
                </div>
            </div>

            <!-- Výstup shody hesel -->
            <div class="mb-2">
                <tr><td><output name="x" for="pas1 pas2"></output></td></tr>
            </div>

            <button class="btn btn-warning px-4" name="changePassword">
                Změnit heslo
            </button>
        </form>
    </div>
</div>